Here are the libraries you need :

pip install os
pip install numpy
pip install matplotlib
pip install ipywidgets
pip install PyWavelets
pip install dash
pip install glob
pip install Path
pip install plotly
pip install pandas
